body {
  background-color: #999999; /* Fundo cinza */
}

.titulo {
  font-weight: bold;
  color: #137547;
}

.subtitulo {
  color: #137547;
  font-weight: 600;
}

.linha-preta {
  border: none;
  height: 4px;
  background-color: black;
  margin-bottom: 30px;
}
